table.calendar {
    border-left:1px solid #999;
}

tr.calendar-row {}

/* information for daily view */
td.nav_elt_day_prev, td.nav_elt_day_next{
    text-align: center;
    background:purple;
    font-weight:bold;
    color: #ffffff;
    padding:10px;
    border-bottom:1px solid #999;
    border-top:1px solid #999;
    border-right:1px solid #999;
}

td.day-name{
    width:843px;
    text-align: center;
    background:purple;
    font-weight:bold;
    color: #ffffff;
    padding:10px;
    border-bottom:1px solid #999;
    border-top:1px solid #999;
    border-right:1px solid #999;
}

/* information for monthly view */
td.nav_elt_month_prev, td.nav_elt_month_next{
    text-align: center;
    background:purple;
    font-weight:bold;
    color: #ffffff;
    padding:10px;
    border-bottom:1px solid #999;
    border-top:1px solid #999;
    border-right:1px solid #999;
}

td.month-name{
    background:purple;
    font-weight:bold;
    color: #ffffff;
    padding:10px;
    border-bottom:1px solid #999;
    border-top:1px solid #999;
    border-right:1px solid #999;
}

/*actual calendar days*/
/*height should actually be relative to the amount of items...*/
td.calendar-day {
    height:200px;
    font-size:16px;
    position:relative;
}

  /*blank days*/
td.calendar-day-np {
    background:#eeeeee;
    height:200px;
}

td.calendar-day-head {
    background:purple;
    font-weight:bold;
    text-align:center;
    color: #ffffff;
    width:240px;
    padding:10px;
    border-bottom:1px solid #999;
    border-top:1px solid #999;
    border-right:1px solid #999;
}

/* is there a better way to position these things? */
div.day-number	{
    background:purple;
    padding:10px;
    color:#fff;
    font-weight:bold;
    position: absolute;
    top: 10px;
    right: 10px;
    /*float:right;*/
    margin:-10px -10px 0 0;
    width:40px;
    text-align:center;
}

td.calendar-day, td.calendar-day-np {
    width:500px;
    padding:10px;
    border-bottom:1px solid #999;
    border-right:1px solid #999;
}

td.calendar-time {
    min-height:200px;
    border:1px solid;
}

td.daily-items {
    background: #0099FF;
    min-height: 200px;
    padding: 10px;
    font-weight:bold;
    text-align:center;
    width:300px;
    border:2px solid #345;
}

/* takes care not to overlap with the day number */
div.all-items{
    padding-top: 50px;
}

p.monthly-items{
    background: #0099FF;
    /*font-weight:bold;*/
    font-size: small;
    text-align:center;
    width: auto;
    border:1px solid #345;
}
