<?php

# copy this file to institution.cfg.php and replace the example values
# below with the ones appropriate for you institution

define('INSTITUTION_NAME', 'Your Institution');
define('APP_NAME',         'Equipment Reservations');

define('DB_SERVER', 'yourdbserver'); // e.g. mysql.college.edu
define('DB_NAME',   'eqreserve');
define('DB_USER',   'eqreserveweb'); // this user (whatever you call it) should have only basic SELECT, INSERT, UPDATE, DELETE privileges
define('DB_PASS',   'yourfancypassword');

?>