html {
    background-color: #000;
    margin: 0;
}

body {
    font: 14px arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 3px 5px;
    width: 960px;
    background-color: #ddd;
}

div {
    margin: 3px 6px;
    padding: 3px;
}

h1 {
    text-align: center;
}
h2, h3, h4, h5, h6 {
    margin: 3px 0 2px 0;
}

.commentary {
    color: #777;
    font-style: italic;
}

.legend {
    width: 120px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 3px 6px;
    margin: 3px 12px;
    float: left;
    border: 1px solid #bbb;
}

.general_user {
    background-color: #ddd;
}

.admin_user {
    background-color: #edd;
}

.manager_user {
    background-color: #ddf;
}

.consumer_user {
    background-color: #ded;
}

.left { float: left; }
.right { float: right; }
.center { text-align: center; }

#items_list li {
    list-style: none;
    clear: both;
}

.schedule_placeholder {
    width: 720px;
    height: 18px;
    background-color: #999;
    text-align: center;
}